colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.7.0"
more-itertools==9.1.0; python_version >= "3.7"
tqdm==4.65.0; python_version >= "3.7"
mpmath==1.2.1; python_version >= "3.8"
numpy==1.24.2; python_version >= "3.8"
sympy==1.11.1; python_version >= "3.8"
sphinx==4.0.1
sphinx_rtd_theme==0.5.2
readthedocs-sphinx-search==0.1.0
myst_parser==0.15.2
