mpmath==1.2.1; python_version >= "3.7"
numpy==1.23.2; python_version >= "3.8" and python_version < "3.11"
sympy==1.10.1; python_version >= "3.7"
sphinx==4.0.1
sphinx_rtd_theme==0.5.2
readthedocs-sphinx-search==0.1.0
myst_parser==0.15.2
